.box {
  margin: 20px;
  width: 350px;
  height: 400px;
  color: black;
  text-align: center;
}
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid > div {
  flex-basis: calc(50% - 40px);
  padding-left: 100px;
  color: #000;
}


