.navbar-brand{
  font-size: 50px;
}

.nav-btn{
  padding:10px;
  color:  #dfdfdf !important;
  border: 1px solid white;
  padding : 10px;
  font-size: 20px;  
  border-radius: 4px;
  
}

.nav-btn:hover{
  font-weight: bold !important; 
}

.my-navbar {
  
  background-color: black;
  border-bottom: 3px solid white;

}

.logoText{
  font-size: 40px;
  
  color: black;
}